textarea {
    min-height: 400px;
}
.read {
    background: #b6b6b6;
}
.email-link {
    cursor: pointer;
}
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}